<nav class="navbar navbar-header navbar-expand-lg" data-background-color="white">
    <div class="container-fluid d-flex justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="/home-socio">{{'NAV-DEPORTISTA-HOME'|translate}}</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link font-weight-bold" 
              routerLink="">{{'NAV_DEPORTISTA_PERFIL' | translate}}</a> -->
                <a href="#" class="nav-link font-weight-bold" data-toggle="modal"
                    data-target="#modalPerfil">{{'NAV_SOCIO_CREAR_ENTRENAMIENTO' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="/producto-servicio">{{'NAV_SOCIO_CREAR_PRODUCTO_SERVICIO' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="/notificaciones-socio">{{'NAV_DEPORTISTA_NOTIFICACIONES' |
                    translate}}</a>
            </li>
        </ul>
    </div>
</nav>