<app-header></app-header>
<div class="col-md-12">
    <div class="card">   
        <form [formGroup]="companyForm">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group col-md-10">
                <label class="form-label" for="nombre">
                  {{'TRAINING_NAME'|translate}}
                </label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="{{'TRAINING_NAME' |translate}}" formControlName="nombre">
                <p id="trainingNameError" class="text-danger" *ngIf="companyForm.get('nombre')?.hasError('required') && companyForm.get('nombre')?.touched ">
                  {{'TRAINING_VALIDATION_NAME'|translate}}
                </p>
                <p class="text-danger" *ngIf="companyForm.get('name')?.hasError('alphanumeric') && companyForm.get('name')?.touched ">
                  {{'TRAINING_VALIDATION_NAME_ALPHANUMERIC'|translate}}
                </p>
              </div>
              <div class="form-group col-md-10">
                <label for="ejercicios" class="form-label">
                  {{'TRAINING_EXERCISE'|translate}}
                </label>
                <select id="ejercicios" class="form-select mx-sm3 mb-2" name="ejercicios" formControlName="ejercicios">
                  <option value="" selected>{{'SELECT'|translate}}</option>                  
                  <option *ngFor="let ejercicio of ejercicios()" [value]="ejercicio.id_ejercicio">{{ejercicio.nombre}}</option>    
                </select>
                <p id="exerciseError" class="text-danger" *ngIf="companyForm.get('ejercicios')?.hasError('required') && companyForm.get('ejercicios')?.touched ">
                  {{'RULE_SELECT_EXERCISE'|translate}}
                </p>
              </div>
            </div>
            <div class="col">
              <div class="form-group col-md-10">
                <label class="form-label" for="fecha_entrenamiento">
                  {{'TRAINING_DATE'|translate}}
                </label>
                <input type="text" class="form-control" name="fecha_entrenamiento" id="fecha_entrenamiento" placeholder="{{'TRAINING_DATE' |translate}}" formControlName="fecha_entrenamiento">
                <p id="trainingDateError" class="text-danger" *ngIf="companyForm.get('fecha_entrenamiento')?.hasError('required') && companyForm.get('fecha_entrenamiento')?.touched ">
                  {{'TRAINING_VALIDATION_DATE'|translate}}
                </p>
              </div>              
              <div class="form-group col-md-10">
                <label class="form-label" for="numero_repeticiones">
                  {{'NUMBER_REPETITIONS'|translate}}
                </label>
                <input type="text" class="form-control" name="numero_repeticiones" id="numero_repeticiones" placeholder="{{'NUMBER_REPETITIONS' |translate}}" formControlName="numero_repeticiones">
                <p id="repetitionsError" class="text-danger" *ngIf="companyForm.get('numero_repeticiones')?.hasError('required') && companyForm.get('numero_repeticiones')?.touched ">
                  {{'TRAINING_VALIDATION_NUMBER_REPETITIONS'|translate}}
                </p>
                <p class="text-danger" *ngIf="companyForm.get('numero_repeticiones')?.hasError('numeric') && companyForm.get('numero_repeticiones')?.touched ">
                  {{'TRAINING_VALIDATION_NUMBER_REPETITIONS_NUMERIC'|translate}}
                </p>
              </div>
              <div class="form-group col-md-10">
                <button id="agregar_ejercicio" [disabled] = "botonAgregarEjercicio" type="button" class="btn btn-sport-app" data-toggle="modal" data-target="#exampleModalCenter" (click)="anadirEjercicio()">
                  {{'EXERCICE_ADD'|translate}}
                </button>
              </div>
            </div>
          </div>  
          <div class="row">                  
              <div class="container">
                <div class="row">
                  <div class="col-md-4" *ngFor="let ejercicio of ejerciciosSeleccionados()">
                    <app-ejercicio [ejercicio]="ejercicio"></app-ejercicio>
                  </div>
                </div>
              </div>   
          </div>
        </div>
        <div class="card-footer text-right">
          <button id="cancelar" type="button" class="btn btn-sport-app" data-toggle="modal" data-target="#exampleModalCenter" >
            {{'TRAINING_CANCEL'|translate}}
          </button>
          <button id="guardar" [disabled] = "companyForm.invalid" type="button" class="btn btn-sport-app" data-toggle="modal" data-target="#exampleModalCenter"  (click)="crearEntrenamiento()" >
            {{'TRAINING_SAVE'|translate}}
          </button>
        </div>
      </form>
    </div>
  </div>