.btn-sport-app {
    background: #f26522 !important;
    border-color: #f26522 !important;
    color: white !important;
}
.btn-sport-app:hover, .btn-sport-app:focus, .btn-sport-app:disabled {
    background: #f26522 !important;
    border-color: #f26522 !important; 
}

.btn-border.btn-sport-app {
    color: #f7580e !important;
    border: 1px solid #f7580e !important; 
}      
.btn-link.btn-success {
    color: #f26522 !important; 
}

.btn-link.btn-success:hover 
    {
    color: #f26522 !important; 
}