<div class="page-inner mt--1">
    <div class="row nav-deportista">
        <div class="col-md-4 line-border nav-elementos">
            <div>
                <img src="assets/img/Icono_nutrition_socio.png" alt="seleccionar plan" class="img-fluid">
                    <p>{{'NAV_SOCIO_PERFIL' | translate}}</p>
            </div>
        </div>
        <div class="col-md-4 line-border nav-elementos">
            <div class="row">
                <div>
                    <img src="assets/img/Icono_Seleccionar_plan.png" alt="seleccionar plan" class="img-fluid">
                    <!-- <a class="nav-link font-weight-bold" routerLink="#">{{'NAV_SOCIO_CREAR_ENTRENAMIENTO' | translate}}</a>    -->
                    <p>{{'NAV_SOCIO_CREAR_ENTRENAMIENTO' | translate}}</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <!-- <img src="assets/img/Icono_calendario.png" alt="seleccionar plan" class="img-fluid"> -->
                    <a class="nav-link font-weight-bold" routerLink="/producto-servicio">{{'NAV_SOCIO_CREAR_PRODUCTO_SERVICIO' | translate}}</a>
                </div>
            </div>            
        </div>
        <div class="col-md-4 nav-elementos">
            <div class="row">
                <div>
                    <img src="assets/img/Icono_Notificaciones.png" alt="seleccionar plan" class="img-fluid">
                    <a class="nav-link font-weight-bold" routerLink="/notificaciones">{{'NAV_SOCIO_NOTIFICACIONES' | translate}}</a>
                </div>
            </div> 
        </div>
    </div>    
</div>
