<nav class="navbar navbar-header navbar-expand-lg" data-background-color="white">
    <div class="container-fluid d-flex justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link font-weight-bold" 
              routerLink="/sedes">{{'NAV-SEDES'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" 
              routerLink="/login">{{'NAV-SESION'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" 
              routerLink="/register-socio">{{'NAV-REGISTRO-SOCIO'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" 
              routerLink="/register-deportista">{{'NAV-REGISTRO-DEPORTISTA'|translate}}</a>
            </li>                   
          </ul>
    </div>
</nav>
