<nav class="navbar navbar-header navbar-expand-lg" data-background-color="orangeS">
    <div class="container-fluid">
        <div>
            <h1 class="jomhuria-text">
                <a routerLink="/">
                    SportApp
                    <img src="./.././../../../../assets/img/Icono_running.png" alt="SportApp" width="64" height="64" style="margin-right: 5px;"> <!-- Agrega la imagen al lado del texto "SportApp" con el tamaño deseado -->
                </a>                
            </h1>
        </div>
        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
            <li class="nav-item dropdown hidden-caret">
                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-bell" style="font-size:25px;color:white"></i>
                    <span class="notification">{{notificacionesDeportista().length}}</span>
                </a>
                <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                    <li>
                        <div class="dropdown-title"> {{'HEADERNOTIFY_1'|translate}} {{notificacionesDeportista().length}} {{'HEADERNOTIFY_2'|translate}}</div>
                    </li>
                    <li>
                        <div class="notif-center">                            
                            <a *ngFor="let notificacion of notificacionesDeportista()" href="#" style="text-decoration: none;">
                                <div class="notif-icon notif-success"> <i class="fas fa-circle"></i> </div>
                                <div class="notif-content">
                                    <span class="block">
                                        {{notificacion.mensaje}}
                                    </span>
                                    <span class="time">{{calcularMinutosPasados(notificacion.fecha_creado)}} {{'TIMENOTIFY'|translate}}</span> 
                                </div>
                            </a>                            
                        </div>
                    </li>
                    <li>
                       <a class="see-all" href="javascript:void(0);"> {{'ALLNOTIFY'|translate}}<i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown hidden-caret submenu">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fas fa-user" style="font-size:25px;color:white"></i>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="scroll-wrapper dropdown-user-scroll scrollbar-outer" style="position: relative;"><div class="dropdown-user-scroll scrollbar-outer scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 274.836px;">
                        <li>
                            <div class="user-box">
                                <div class="demo-icon">
                                     <div class="icon-preview"><i class="la flaticon-profile"></i></div> <div class="icon-class"></div> 
                                </div>
                                <div class="u-text">
                                    <h4>{{sessionNombre}}</h4>
                                    <p class="text-muted">{{sessionCorreo}}</p>
                                    <p class="text-muted">{{sessionRol}}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" (click)="cerrarSesion()">Logout</a>
                        </li>
                    </div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar ui-draggable ui-draggable-handle" style="width: 100px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar ui-draggable ui-draggable-handle" style="height: 99px;"></div></div></div></div>
                </ul>
            </li>
        </ul>
    </div>
</nav>
