@font-face {
    font-family: 'Jomhuria';
    src: url('./.././../../../../assets/fonts/Jomhuria/Jomhuria-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  .jomhuria-text {
    font-family: 'Jomhuria', sans-serif;
    font-size: 96px;
    color: white;
  }
  .jomhuria-text a {
    font-family: 'Jomhuria', sans-serif;
    font-size: 96px;
    color: white;
    text-decoration: none;
  }
  .lb-text{
      color: white !important;
  }